<div class="container">
  <div class="row">
    <p> </p>
    <h4>Add a city:</h4>
    <p> </p>
    <form action="/cities" method="post">
      <div class="form-inline">
        <label for="city_name">City Name</label>
        <input id="city_name" name="city_name" class="form-control" type="text">
      </div>
      <p> </p>
      <button type="submit" class="btn btn-info">Add city</button>
      <p> </p>
    </form>
  </div>
  <div class="row">
    <p> </p>
    <form class="form-inline" method="get" action="/">
      <button type="submit" class="btn btn-danger" name="clear_btn">Back</button>
    </form>
  </div>
  <div class="row">
  <%if @city_names != nil%>
    <h3>Cities: </h3>

    <ul>
      <%@city_names.each do |city|%>
      <li> <%= city[:city] %> </li>
      <% end %>
    </ul>

  <% else %>
      <p>There are no cities listed here!</p>
  <% end %>
  </div>



</div>
