<div class="container">
  <div class="row">
    <p> </p>
    <h4>List of Trains</h4>
    <p> </p>
  <%@train_list.each do |train|%>
  <%= train["name"] %>
  <p> </p>
  <% end %>
  </div>
  <div class="row">
  </div>
</div>
