<div class="container">
  <div class="row">
    <p> </p>
    <h4>Hello, Rider!</h4>
    <p> </p>
    <form action="/gettrains" method="get">
      <p>I want to see a list of trains</p>
      <p> </p>
      <button type="submit" class="btn btn-danger">trains</button>
      <p> </p>
    </form>
    <form action="/getcities" method="get">
      <p>I want to see a list of cities</p>
      <p> </p>
      <button type="submit" class="btn btn-warning">cities</button>
      <p> </p>
    </form>
    <form action="/gettimes" method="get">
      <p>I want to see a list of times</p>
      <p> </p>
      <button type="submit" class="btn btn-info">times</button>
      <p> </p>
    </form>
    <form action="/ticket" method="get">
      <p>I want to buy a ticket</p>
      <p> </p>
      <button type="submit" class="btn btn-danger">ticket</button>
      <p> </p>
    </form>
  </div>
  <div class="row">
  </div>
</div>
