<div class="container">
  <div class="row">
    <p> </p>
    <h4>Let's pick a time!</h4>
    <p> </p>
    <form action="/" method="get">
      <div class="form-inline">
        <label for="train_time">Train Time</label>
        <input id="train_time" name="train_time" class="form-control" type="text">
        <p>&nbsp;</p>
        <!-- <label for="city_name">Destination city</label>
        <input id="city_name" name="city_name" class="form-control" type="text">
        <p>&nbsp;</p>
        <label for="departure_date">Departure date</label>
        <input id="departure_date" name="departure_date" class="form-control" type="text"> -->
      </div>
      <p>&nbsp;</p>
      <button type="submit" class="btn btn-info">submit</button>
      <p>&nbsp;</p>
    </form>
  </div>
  <div class="row">
  </div>
</div>
