<div class="container">
  <div class="row">
    <p> </p>
    <h4>Let's pick a time!</h4>
    <p> </p>
    <form action="/times" method="post">
      <div class="form-inline">
        <label for="train_time">Train Time</label>
        <input id="train_time" name="train_time" class="form-control" type="text">
        <p>&nbsp;</p>
        <label for="train_drop">Select train</label>
        <select id="train_drop" name="train_drop">
          <% @train_names.each do |train| %>
          <option value = "<%= train[:train_id] %>" > <%= train[:train_name] %> </option>
          <% end %>
        </select>
        <p>&nbsp;</p>
        <label for="city_drop">Select city</label>
        <select id="city_drop" name="city_drop">
          <% @city_names.each do |city| %>
          <option value = "<%= city[:id] %>" > <%= city[:city] %> </option>
          <% end %>
        </select>
      </div>
      <p>&nbsp;</p>
      <button type="submit" class="btn btn-info">submit</button>
      <p>&nbsp;</p>
    </form>
  </div>
  <div class="row">
  </div>
</div>
